body   {
    margin: 0;
    font-family:     "Poppins",    'Courier New', Courier, monospace;
    background-color: #1f201f
    color:  #fff;
    display: grid;
    place-items: center;
    height: 100vh;
}
ul   {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.dropdown {
    position: relative;
}
.label   {
    cursor: pointer;
    background: rgb(30, 30, 30);
    padding: 0.8rem 1rem;
    width: 90%;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s;
}
.items  {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transform: all 0.2s;
}